{% assign product = product-collection-info %}


<!-- PRIMARY REPEATER TAGS--> 

<ul class='prod_short_desc'>
  
                         <!-- New Hi Boost HI20-EW -->
  {% if product.tags contains 'HI20-EW' %}
    <li>Up to <strong>2000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: All UK Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
   {% endif %}
                           <!-- New Hi Boost HI20-EW -->
  {% if product.tags contains 'mre082-pro' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: All UK Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks</li>
   {% endif %}
  {% if product.tags contains 'mre082' %}
    <li>Up to <strong>250 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: All UK Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks</li>
   {% endif %}
    {% if product.tags contains 'mre503' %}
    <li>Up to <strong>2000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: All UK Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks</li>
   {% endif %}
  
                         <!-- New Hi Boost Hi13-EW -->
  {% if product.tags contains 'Hi13-EW' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: All UK Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;:All UK Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
   {% endif %}
  
                       <!-- New Hi Boost Hi17-EW -->
  {% if product.tags contains 'Hi17-EW' %}
    <li>Up to <strong>1000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: All UK Networks  </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
   {% endif %}
  
                     <!-- New Hi Boost Hi20-3G -->
  {% if product.tags contains 'Hi20-3G' %}
    <li>Up to <strong>2000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:All Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;:All Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;:  </li>
   {% endif %}
  
                   <!-- New Hi Boost HI20-EGSM -->
  {% if product.tags contains 'HI20-EGSM' %}
    <li>Up to <strong>2000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: Vodafone/o2/Tesco </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;:  </li>
   {% endif %}
  
                 <!-- New Hi Boost Hi17-ED -->
  {% if product.tags contains 'Hi17-ED' %}
    <li>Up to <strong>1000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:All UK Networks (except Three) </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;:  </li>
   {% endif %}
  
               <!-- New Hi Boost Hi17-3G -->
  {% if product.tags contains 'Hi17-3G' %}
    <li>Up to <strong>1000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:All Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;:All Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;:  </li>
   {% endif %}
  
             <!-- New Hi Boost Hi17-EGSM -->
  {% if product.tags contains 'Hi17-EGSM' %}
    <li>Up to <strong>1000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:Vodafone/o2/Tesco </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;:  </li>
   {% endif %}
  
           <!-- New Hi Boost HI13-ED -->
  {% if product.tags contains 'HI13-ED' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:All UK Networks (except Three) </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
   {% endif %}
  
         <!-- New Hi Boost Hi13-LTE800 -->
  {% if product.tags contains 'Hi13-LTE800' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: Vodafone </li>
   {% endif %}
  
       <!-- New Hi Boost HI13-3G -->
  {% if product.tags contains 'HI13-3G' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:All Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;:All Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
   {% endif %}
  
     <!-- New Hi Boost Hi13- EGSM -->
  {% if product.tags contains 'Hi13- EGSM' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: Vodafone/o2/Tesco </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;:</li>
   {% endif %}
  
  <!-- New Hi Boost HI17-LL -->
  {% if product.tags contains 'Hi17-LL' %}
    <li>Up to <strong>1000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All UK networks </li>
   {% endif %}
  
  <!-- New Hi Boost HI13-5S -->
  {% if product.tags contains 'Hi13-5S' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:All UK Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;:All UK Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All UK networks </li>
   {% endif %}
  
  <!-- New Hi Boost F13-EW -->
  {% if product.tags contains 'F13-EW' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: All UK Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;:All 3G </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All UK networks </li>
   {% endif %}
  
  <!-- New Hi Boost F13-EGSM -->
  {% if product.tags contains 'F13-EGSM' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:All UK Networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;:All UK Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
   {% endif %}
  
  <!-- New Hi Boost F13-3G -->
  {% if product.tags contains 'F13-3G' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;:All UK Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
   {% endif %}
  
    <!-- New 4G Repeaters-->
  {% if product.tags contains 'mre07x' %}
    <li>Up to <strong>500 m2<sup>2</sup></strong></li>
    <li>Calls&nbsp;: All UK networks</li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All Networks </li>
   {% endif %}
  
    <!-- New Hi Boost HI13-LL -->
  {% if product.tags contains 'HI13-LL' %}
    <li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All UK networks </li>
   {% endif %}
  
   <!-- New Hi Boost HI23-5S-->
  {% if product.tags contains 'HI23-5S' %}
    <li>Up to <strong>3000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:All UK networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;:All UK networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All UK networks </li>
   {% endif %}
  
  <!-- New Hi Boost HI23-EDW-->
  {% if product.tags contains 'HI23-EDW' %}
    <li>Up to <strong>3000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:All UK networks </li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;:All UK networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;:  </li>
   {% endif %}
  <!-- New Hi Boost HI23-LTE800-->
  {% if product.tags contains 'HI23-LTE800' %}
    <li>Up to <strong>3000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;:</li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: 800 MHz  </li>
   {% endif %}
  
  
  <!-- New Digital Triband -->
  {% if product.tags contains 'digitaltribandpowermax' %}
    <li>Up to <strong>1000 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: All UK networks</li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
   {% endif %}
  
  
   <!-- Rapid X -->
  {% if product.tags contains 'rapidx' %}
    <li>Rapid Deployment</li>
    <li><strong>Tri-Band 900/1800/2100</strong></li>
    <li>Up to 1,000 sq m coverage</li>
    <li>4 Hour Backup Power</li>
    <!--<li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy" target="_blank">{{ settings.lang_moneyback_short_desc }}</a></li>-->
   {% endif %}
  
  
   <!-- Mini MR GSM 900 X14 home and office kits -->
  {% if product.tags contains 'MiniMRGSM900X14' %}
    <li><strong>Vodafone | O2 | Resellers</strong></li>
    <li>Up to<strong> 250 sq m<sup>2</sup></strong></li>
    <li>900 MHz</li>
    <li>Voice</li>
   {% endif %}
  
  
   <!-- MR Mobile Credit Card Terminal Reception Booster -->
  {% if product.tags contains 'MRMobileCreditCardTerminalReceptionBooster' %}
  <li><strong> For GPRS mobile card devices</strong></li>
  <li>Easy Installation</li>
    <li>Full Kit</li>
   {% endif %}
  
  <!-- MR Mini GSM 1800 X14  home and office kits -->
  {% if product.tags contains 'MRMiniGSM1800X14' %}
    <li>Up to <strong>250 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: EE</li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!--   MR Mini 3G 2100 X14      -->
  {% if product.tags contains 'MRMini3G2100X14' %}
  <li><strong>All UK Networks</strong></li>
  <li>Up to <strong>250 sq m<sup>2</sup></strong></li>
  <li>2100 MHz</li>
  <li>Voice | Data</li>
  {% endif %}
  
   <!-- MR 4G LTE 800/2600 Mini -->
  {% if product.tags contains 'MR4GLTE800/2600Mini' %}
  <li><strong>All UK Networks</strong></li>
  <li>Up to <strong>250 m<sup>2</sup></strong></li>
  <li>800 | 2600 MHz</li>
  <li>4G</li>
  {% endif %}
  
  <!-- MR Mini Dual Band X14  home and office kits -->
  {% if product.tags contains 'MRMiniDualBandX14' %}
  <li><strong>All UK Networks</strong></li>
  <li>Up to<strong> 250 m<sup>2</sup></strong></li>
  <li>900 |1800 MHz  </li>
  <li>Voice</li>
  {% endif %}
  
   <!-- MR Mini GSM 900/3G X14 home and office kits -->
  {% if product.tags contains 'MRMiniGSM900/3GX14' %}
  <li>Up to <strong>250 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks</li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  {% endif %}
  
   <!-- MR Tri-Band  Pro -->
  {% if product.tags contains 'MRTri-Band' %}
  <li><strong>All UK Networks</strong></li>
  <li>Up to<strong> 500 m<sup>2</sup></strong></li>
  <li>900 | 1800 | 2100MHz</li>
  <li>Voice | 3G | 4G</li>
  {% endif %}

  
  <!-- MR GSM 900 PRO X14  home and office kits -->
  {% if product.tags contains 'MRGSM900PROX14' %}
  <li><strong>Vodafone | O2 | Resellers</strong></li>
  <li>Up to<strong> 500 m<sup>2</sup></strong></li>
  <li>900 MHz</li>
  <li>Voice</li>
  {% endif %}
  
  
  <!-- MR GSM 1800 PRO X14     -->
  {% if product.tags contains 'MRGSM1800PROX14' %}
  <li><strong>EE</strong></li>
  <li>Up to <strong>500 m<sup>2</sup></strong></li>
  <li>1800 MHz</li>
  <li>Voice | 4G</li>
  {% endif %} 
  
  <!-- MR 3G 2100 PRO X14 home and office kits -->
  {% if product.tags contains 'MR3G2100PROX14' %}
  <li><strong>All UK Networks</strong></li>
  <li>Up to<strong> 500 m<sup>2</sup></strong></li>
  <li>2100MHz</li>
  <li>Voice | 3G</li>
  {% endif %}
  
  <!-- MR 4G LTE 800/2600 PRO home and office kits -->
  {% if product.tags contains 'MR4GLTE800/2600PRO' %}
	<li>Up to <strong>500 m<sup>2</sup></strong></li>
    <li>Calls&nbsp;: -</li>
    <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: -</li>
    <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks</li>
  {% endif %}
  
  <!-- MR Dual Band PRO X14  home and office kits -->
  {% if product.tags contains 'MRDualBandPROX14' %}
  <li><strong>Vodafone | O2 | EE</strong></li>
  <li>Up to<strong> 500 m<sup>2</sup></strong></li>
  <li>900 | 1800 MHz</li>
  <li>Voice</li>
  {% endif %}
  
  <!-- MR GSM 900/3G PRO X14 home and office kits -->
  {% if product.tags contains 'MRGSM900/3GPROX14' %}
  <li><strong>All UK Networks</strong></li>
  <li>Up to<strong> 500 m<sup>2</sup></strong></li>
  <li>900 | 2100 MHz  </li>
  <li>Voice | 3G</li>
  {% endif %}
    
  <!-- MR PowerMAX GSM 900 Building Repeaters -->
  {% if product.tags contains 'MRPowerMAXGSM900' %}
  <li>Up to <strong>1000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: Vodafone, O2, Reseller</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  {% endif %}
  
  <!-- MR PowerMAX GSM 1800 Building Repeaters -->
  {% if product.tags contains 'MRPowerMAXGSM1800' %}
  <li>Up to <strong>1000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- MR PowerMAX 3G 2100 Building Repeaters -->
  {% if product.tags contains 'MRPowerMAX3G2100' %}
  <li>Up to <strong>1000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  {% endif %}
  
  <!-- MR PowerMAX 900/1800 Building Repeaters -->
  {% if product.tags contains 'MRPowerMAX900/1800' %}
  <li>Up to <strong>1000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: Vodafone,O2,EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- MR PowerMAX GSM 900/3G Building Repeaters -->
  {% if product.tags contains 'MRPowerMAXGSM900/3G' %}
  <li>Up to <strong>1000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  {% endif %}
  
  <!-- MR PowerMAX Tri-Band Building Repeaters -->
  {% if product.tags contains 'MRPowerMAXTri-Band' %}
  <li>Up to <strong>1000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- PowerMAX GSM 900 XT Building Repeaters -->
  {% if product.tags contains 'PowerMAXGSM900XT' %}
  <li>Up to <strong>2500 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: Vodafone, O2, Reseller</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  {% endif %}
  
  <!-- PowerMAX GSM 1800 XT Building Repeaters -->
  {% if product.tags contains 'PowerMAXGSM1800XT' %}
  <li>Up to <strong>2500 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- MR PowerMAX 3G 2100 XT Building Repeaters -->
  {% if product.tags contains 'MRPowerMAX3G2100XT' %}
  <li>Up to <strong>2500 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  {% endif %}
  
  <!-- PowerMAX 900/1800 XT Building Repeaters -->
  {% if product.tags contains 'PowerMAX900/1800XT' %}
  <li>Up to <strong>2500 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: Vodafone,O2,EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- PowerMAX 900/3G XT Building Repeaters -->
  {% if product.tags contains 'PowerMAX900/3GXT' %}
  <li>Up to <strong>1000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  {% endif %}
  
  <!-- PowerMAX Tri-Band XT Building Repeaters -->
  {% if product.tags contains 'PowerMAXTri-BandXT' %}
  <li>Up to <strong>2500 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- PowerMAX GSM 900 XT+ Building Repeaters -->
  {% if product.tags contains 'PowerMAXGSM900XT+' %}
  <li>Up to <strong>5000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: Vodafone, O2, Reseller</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  {% endif %}
  
  <!-- PowerMAX GSM 1800 XT+ Building Repeaters -->
  {% if product.tags contains 'PowerMAXGSM1800XT+' %}
  <li>Up to <strong>5000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- MR PowerMAX 3G 2100 XT+ Building Repeaters -->
  {% if product.tags contains 'MRPowerMAX3G2100XT+' %}
  <li>Up to <strong>5000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  {% endif %}
  
  <!-- PowerMAX 900/1800 XT+ Building Repeaters -->
  {% if product.tags contains 'PowerMAX900/1800XT+' %}
  <li>Up to <strong>5000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: Vodafone,O2,EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- PowerMAX 900/3G XT+ Building Repeaters -->
  {% if product.tags contains 'PowerMAX900/3GXT+' %}
  <li>Up to <strong>5000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  {% endif %}
  
  <!-- PowerMAX Tri-Band XT+ Building Repeaters -->
  {% if product.tags contains 'PowerMAXTri-BandXT+' %}
  <li>Up to <strong>5000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- MR UltraMAX 33dB Building Repeaters -->
  {% if product.tags contains 'MRUltraMAX33dB' %}
  <li> Industrial/Commercial</li>
  <li> <strong>GSM 900, 1800 or 3G</strong> </li>
  <li> 90dB Gain Base unit</li>
    <li>Full Kit</li>
  {% endif %}
  
  <!-- MR UltraMAX 37dB  - Building Repeaters -->
  {% if product.tags contains 'MRUltraMAX37dB ' %}
  <li>Industrial/Commercial</li>
  <li><strong>GSM 900, 1800 or 3G</strong></li>
  <li> 5000 + sq m coverage</li>
    <li>Full Kit</li>
  {% endif %}
  
  <!-- MR Vehicle Booster - Vehicle Boosters -->
  {% if product.tags contains 'MRVehicleBooster' %}
  <li>Dual Band 900/1800</li>
  <li>Extend Coverage</li>
  <li><strong>All Networks (Except 3G)</strong></li>
    <li>Full Kit</li>
  {% endif %}
  
  <!-- MR Car Conversion Kit Vehicle Boosters -->
  {% if product.tags contains 'MRCarConversionKit' %}
  <li>Automobile Conversion Kit</li>
  <li>Compatible with <strong>all Repeaters</strong></li>
  <li>Simple Installation</li>
    <li>Full Kit</li>
  {% endif %}
  
  <!-- MR EE 4G Mini - 4G/LTE Network -->
  {% if product.tags contains 'EE4GMini' %}
  <li>Up to <strong>250 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- MR 4G PRO - 4G/LTE Network -->
  {% if product.tags contains 'MR4GPRO' %}
  <li>Up to <strong>500 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- MR PowerMAX 4G - 4G/LTE Network -->
  {% if product.tags contains 'MRPowerMAX4G' %}
  <li>Up to <strong>1000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- MR PowerMAX 4G XT - 4G/LTE Network -->
  {% if product.tags contains 'MRPowerMAX4GXT' %}
  <li>Up to <strong>2500 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- MR PowerMAX 4G XT+ - 4G/LTE Network -->
  {% if product.tags contains 'MRPowerMAX4GXT+' %}
  <li>Up to <strong>5000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: EE</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: - </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: EE (in cities) </li>
  {% endif %}
  
  <!-- MR Voice/3G/4G Mini - All Network -->
  {% if product.tags contains 'Voice/3G/4GMini' %}
  <li><strong>All UK Networks</strong></li>
  <li>Up to <strong>250 m<sup>2</sup></strong></li>
  <li>800 | 1800 | 2100</li>
  <li>Voice | 3G | 4G</li>
  {% endif %}
  
   <!-- MR PowerMAX Voice/3G/4G - All Network -->
  {% if product.tags contains 'MRPowerMAXVoice/3G/4G' %}
  <li>Up to <strong>1000 m<sup>2</sup></strong></li>
  <li>Calls&nbsp;: All UK Networks</li>
  <li>3G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  <li>4G&nbsp;&nbsp;&nbsp;&nbsp;: All UK Networks </li>
  {% endif %}
  
  <!-- MR 2-Way Splitter - Accessories -->
  {% if product.tags contains 'MR2-WaySplitter' %}
  <li>2-Way signal splitter</li>
  <li>800-2500MHz</li>
  <li>Up to 2 indoor antennas</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR 3-Way Splitter - Accessories -->
  {% if product.tags contains 'MR3-WaySplitter' %}
  <li>3-Way signal splitter</li>
  <li>800-2500MHz</li>
  <li>Up to 3 indoor antennas</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR 4-Way Splitter - Accessories -->
  {% if product.tags contains 'MR4-WaySplitter' %}
  <li>4-Waysignalsplitter</li>
  <li>800-2500MHz</li>
  <li>Up to 4 indoor antennas</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Yagi - Accessories -->
  {% if product.tags contains 'MRYagi' %}
  <li>GSM 900/1800/3G</li>
  <li>7/9/12 dBi Gain</li>
  <li>All Repeater Models</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Yagi Mounting Bracket - Accessories -->
  {% if product.tags contains 'MRYagiMountingBracket' %}
  <li>Flexible J-Pipe Mount</li>
  <li>Adjustable Base</li>
  <li>Powder Coated</li>
  <li>High Grade Steel</li>
  {% endif %}
  
  <!-- MR Multiband Omni - Accessories -->
  {% if product.tags contains 'MRMultibandOmni' %}
  <li>Indoor Coverage</li>
  <li>GSM 900/1800/3G 2100</li>
  <li>Simple Mounting</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Dual Band Panel - Accessories -->
  {% if product.tags contains 'MRDualBandPanel' %}
  <li>Indoor or Outdoor</li>
  <li>GSM 900/1800/3G</li>
  <li>Simple Mounting</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Outdoor Omni - Accessories -->
  {% if product.tags contains 'MROutdoorOmni' %}
  <li>External Omni Aerial</li>
  <li>For Tri-Band Systems</li>
  <li>Marine Applications</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- Lightning/Surge Protector - Accessories -->
  {% if product.tags contains 'Lightning/SurgeProtector' %}
  <li>DC - 6000MHz</li>
  <li>18kA Rating</li>
  <li>N-male to N-female</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Whip Aerial - Accessories -->
  {% if product.tags contains 'MRWhipAerial' %}
  <li>For GSM 900/1800/3G</li>
  <li>N-type or SMA model</li>
  {% endif %}
  
  <!-- MR Power Supply - Accessories -->
  {% if product.tags contains 'MRPowerSupply' %}
  <li>Replacement Power Supply</li>
  <li>For all MR Models</li>
  <li>UK Plugs</li>
  <li>CE Marked</li>
  {% endif %}
  
  <!-- Frequency Combiner - Accessories -->
  {% if product.tags contains 'FrequencyCombiner' %}
  <li>Tri-Band 900/1800/3G</li>
  <li>Connects multiple units</li>
  <li>For large applications</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Coax CRIMP Tool - Accessories -->
  {% if product.tags contains 'MRCoaxCRIMPTool' %}
  <li>Cables Less than 30m</li>
  <li>Frame with Die</li>
  <li>Quick Install</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Coax PREP Tool - Accessories -->
  {% if product.tags contains 'MRCoaxPREPTool' %}
  <li>For N-male Crimp Connectors</li>
  <li>Used for cables under 30m</li>
  <li>Simple to use</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- N-Male Crimp Connector - Connectors & Adapters -->
  {% if product.tags contains 'N-MaleCrimpConnector' %}
  <li>MR cables under 30m</li>
  <li>3-Piece Connector</li>
  <li>Simple Installation</li>
  <li>Tools Required</li>
  {% endif %}
  
  <!-- N-Male Compression Fit - Connectors & Adapters -->
  {% if product.tags contains 'N-MaleCompressionFit' %}
  <li>Cables 30m and over</li>
  <li>3-Piece Connector</li>
  <li>Simple Installation</li>
  <li>Installation by hand</li>
  {% endif %}
  
  <!-- N-type Female Barrel - Connectors & Adapters -->
  {% if product.tags contains 'N-typeFemaleBarrel' %}
  <li>For Extensions</li>
  <li>Join 2 Male Plugs</li>
  <li>N-type Female</li>
  <li>Simple Connection</li>
  {% endif %}
  
  <!-- SMA-F to N-M - Connectors & Adapters -->
  {% if product.tags contains 'SMA-FtoN-M' %}
  <li>SMA Whip Aerials</li>
  <li>Convert SMA-F to N-M</li>
  <li>Low-Loss</li>
  <li>Simple Installation</li>
  {% endif %}
  
  
  <!-- RF241 Wifi Amplifier - Connectors & Adapters -->
  {% if product.tags contains 'RF241WifiAmplifier' %}
  <li>Increase 2.4GHz Wifi Coverage</li>
  <li>DOUBLE Network Range</li>
  <li>Simple Installation</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %} 
  
  <!-- MR Mini GSM 900    -->
  {% if product.tags contains 'MRMiniGSM900' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>Vodafone and O2 Voice</strong></li>
  <li>2008 MR Repeater Model</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %} 
  
  <!-- iBoost GSM 900 - Connectors & Adapters -->
  {% if product.tags contains 'iBoostGSM900' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>Vodafone and O2 Voice</strong></li>
  <li>2010 MR Model Repeater</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Mini GSM 900 2012 - Connectors & Adapters -->
  {% if product.tags contains 'MRMiniGSM9002012' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>Vodafone and O2 Voice</strong></li>
  <li>Simple Installation</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Mini GSM 1800 - Connectors & Adapters -->
  {% if product.tags contains 'MRMiniGSM1800' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>GSM 1800 Networks</strong></li>
  <li>2008 MR Repeater Model</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- iBoost DCS 1800 - Connectors & Adapters -->
  {% if product.tags contains 'iBoostDCS1800' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>Orange/T-Mobile Voice</strong></li>
  <li>2010 MR Model Repeater</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Mini GSM 1800 2012 - Connectors & Adapters -->
  {% if product.tags contains 'MRMiniGSM18002012' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>GSM 1800 Networks</strong></li>
  <li>Simple Installation</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Mini 3G 2100 2012 - Connectors & Adapters -->
  {% if product.tags contains 'MRMini3G21002012' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>3G Data Only (no voice)</strong></li>
  <li>2008 MR Model Repeater</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- iBoost 3G 2100 - Connectors & Adapters -->
  {% if product.tags contains 'iBoost3G2100' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>3G 2100 Networks</strong></li>
  <li>2010 MR Model Repeater</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Mini 3G 2100 - Connectors & Adapters -->
  {% if product.tags contains 'MRMini3G2100' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>3G Data Only (no voice)</strong></li>
  <li>Simple Installation</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR Mini Dual Band - Connectors & Adapters -->
  {% if product.tags contains 'MRMiniDualBand' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>All European Networks</strong></li>
  <li>2008 MR Model Repeater</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- iBoost Dual Band 900/1800   SPECIALS  -->
  {% if product.tags contains 'iBoostDualBand900/1800' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>All Voice Networks</strong></li>
  <li>2010 MR Model Repeater</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!--   MR Mini GSM 900/3G   SPECIALS   -->
  {% if product.tags contains 'MRMiniGSM900/3G' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>All 900/3G Networks</strong></li>
  <li>2008 MR Repeater Model</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!--  iBoost GSM 900/3G - SPECIALS -->
  {% if product.tags contains 'iBoostGSM900/3G' %}
  <li>Coverage up to <strong>250 sq m</strong></li>
  <li><strong>All Voice Networks</strong></li>
  <li>2010 MR Model Repeater</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!--  MR GSM 900 PRO - SPECIALS -->
  {% if product.tags contains 'MRGSM900PRO' %}
  <li>Coverage up to <strong>500 sq m</strong></li>
  <li><strong>Vodafone and O2 Voice</strong></li>
  <li>2010 MR Model Repeater</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR GSM 1800 PRO - Connectors & Adapters -->
  {% if product.tags contains 'MRGSM1800PRO' %}
  <li>Coverage up to <strong>500 sq m</strong></li>
  <li><strong>GSM 1800 Networks</strong></li>
  <li>Simple Installation</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  <!-- MR 3G 2100 PRO - Connectors & Adapters -->
  {% if product.tags contains 'MR3G2100PRO' %}
  <li>Coverage up to <strong>500 sq m</strong></li>
  <li><strong>3G Data Only (no voice)</strong></li>
  <li>Simple Installation</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" style="padding:0px; text-align:left;" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  
  
  
  
  <!-- ///////////////////////////////////////////////////////// -->
  
  
  
  
  
 
  
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
  
  


































  






<!-- MR UltraMAX 37dB Building Repeaters -->
{% if product.tags contains 'MRUltraMAX37dB' %}
<li>Industrial/Commercial</li>
<li> <strong>GSM 900, 1800 or 3G</strong> </li>
<li>  5000 + sq m coverage</li>
<li> <a href='/pages/return-policy' style="padding:0px; text-align:left;">Money Back Guarantee</a> </li>
{% endif %}
  

    

  

  


  


  


  
  
  
  


























  
  
  







  
  
  
   
  
  


























  
  
  
  

  

  
  

  

  
  
  
  <!--Cables Tags -->
  {% if product.tags contains 'coax1m' %}<li>Low-Loss 1 Meter</li>{% endif %}
  {% if product.tags contains 'coax5m' %}<li>Low-Loss 5 Meter</li>{% endif %}
  {% if product.tags contains 'coax10m' %}<li>Low-Loss 10 Meter</li>{% endif %}
  {% if product.tags contains 'coax15m' %}<li>Low-Loss 15 Meter</li>{% endif %}
  {% if product.tags contains 'coax20m' %}<li>Low-Loss 20 Meter</li>{% endif %}
  {% if product.tags contains 'coax25m' %}<li>Low-Loss 25 Meter</li>{% endif %}
  {% if product.tags contains 'coax30m' %}<li>Low-Loss 30 Meter</li>{% endif %}
  {% if product.tags contains 'coax35m' %}<li>Low-Loss 35 Meter</li>{% endif %}
  {% if product.tags contains 'coax40m' %}<li>Low-Loss 40 Meter</li>{% endif %}
  {% if product.tags contains 'coax45m' %}<li>Low-Loss 45 Meter</li>{% endif %}
  {% if product.tags contains 'coax50m' %}<li>Low-Loss 50 Meter</li>{% endif %} 
  
  {% if product.tags contains 'cable' %}
   <li>Connects to Splitters</li>
   <li>For Indoor Aerials</li>
   <li>Pre-Connectorized</li>
  {% endif %}
  
  
  
  {% if product.tags contains 'MRWindowJumper' %}
    <li>Connect cable through windows</li>
   <li>No drilling required</li>
   <li>Compatible with all models</li>
   <li>Low-Loss 0.25 meter</li>
  {% endif %}  
  
  
  
 
  
  
  
  
  
  
  
  
  <!-- MRE103 Lightning / Surge Protector -->
  {% if product.tags contains 'surgeprotector' %}
  <li>DC - 6000MHz</li>
  <li>18kA Rating</li>
  <li>N-male to N-female</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  <!-- MRE128 MR Outdoor Omni -->
  {% if product.tags contains 'mroutdooromni' %}
  <li>External Omni Aerial</li>
  <li>For Tri-Band Systems</li>
  <li>For Marine Applications</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}	
  <!-- MRE106 Frequency Combiner -->
  {% if product.tags contains 'frequencycombiner' %}
  <li>Tri-Band 900/1800/3G</li>
  <li>Connects multiple units</li>
  <li>For large applications</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}	
  <!-- MRE104 WHIP AERIAL -->
  {% if product.tags contains 'whipaerial' %}
  <li>For GSM 900/1800/3G</li>
  <li>N Type or SMA model</li>
  {% endif %}
  <!-- MRE110 POWER SUPPLY -->
  {% if product.tags contains 'powersupply' %}
  <li>Replacement Power Supply</li>
  <li>For all MR models</li>
  <li>South Africa Plugs</li>
  <li>CE Marked</li>
  {% endif %}
  <!-- MRE018 2-WAY SPLITTER -->
  {% if product.tags contains '2way' %}
  <li>2 Way Signal Splitter</li>
  <li>800-2500MHz</li>
  <li>Up to 2 Indoor Antennas</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  <!-- MRE019 3-WAY SPLITTER -->
  {% if product.tags contains '3way' %}
  <li>3 Way Signal Splitter</li>
  <li>800-2500MHz</li>
  <li>Up to 3 Indoor Antennas</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}
  <!-- MRE019 4-WAY SPLITTER -->
  {% if product.tags contains '4way' %}
  <li>4 Way Signal Splitter</li>
  <li>800-2500MHz</li>
  <li>Up to 4 Indoor Antennas</li>
  <li><a title="{{ product.title }} {{ settings.lang_moneybackinfo }}" href="/pages/return-policy">{{ settings.lang_moneyback_short_desc }}</a></li>
  {% endif %}  
</ul>